<!DOCTYPE html>
<html>
<head>
  <title>Kylie Mabey</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 well mainContainer">
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8 logo">
            <a href="/"><h1>Kylie Mabey</h1></a>
          </div>
          <div class="col-md-2 pull-right">
            <div class="imgRight"></div>
          </div>
        </div>
        <div class="row headAndNav">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-justified">
              <li><a href="/works">Works</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
          <%= yield %>
        <div class="row">
          <div class="col-md-12">
            <footer class="pull-right">
              <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                  <%= link_to('Login', new_user_session_path)  %>
              <% end %>
              &copy Kylie Ann Mabey - 2013
            </footer>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
<script>
    $.ajaxSetup({cache: false});
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href") // activated tab
        if ($(target).is(':empty')) {
            $.ajax({
                type: "GET"//,
                //url: "/article/"
            })
        }
    })
</script>
</body>
</html>
