
<div class="row">
    <div class="col-lg-5 col-md-12 quoteHolder">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-7">
          <blockquote class="pull-right">
            <p>“Intuitive design is how we give the user new superpowers.”</p>
            <small>Jared Spool, <cite title="Web Site Usability">Web Site Usability: A Designer's Guide</cite></small>
          </blockquote>
          </div>
          <div class="col-md-5">
              <div class="imgLeft"></div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-lg-7 col-md-12 aboutHolder">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body">
        <h5> <%= @about.about %> </h5>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-12 skillsHolder">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Primary Skills</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <img src="/assets/html5_css3_js.png" alt="HTML5 CSS3 JS" class="skillImgsHCJ"/>
            <img src="/assets/c-sharp.png" alt="C-Sharp" class="skillImgs"/>
            <img src="/assets/adobe.png" alt="Adobe" class="skillImgs"/>
          </div>
        </div>
      </div>
    </div>
  <div class="col-lg-7 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Works</h3>
      </div>
      <div class="panel-body">
          <div class="col-lg-6 col-md-12 clearfix">
            <div class="thumbnail">
              <img src="/assets/test.jpg" alt="project01">
              <div class="caption">
                <h3><%= @project1.name %></h3>
                <p><%= @project1.description %></p>
                <p><a href="#" class="btn btn-primary pull-right" role="button">Details</a></p>
              </div>
            </div>
          </div>
        <div class="col-lg-6 col-md-12 clearfix">
          <div class="thumbnail">
            <img src="/assets/test.jpg" alt="project02">
            <div class="caption">
              <h3><%= @project2.name %></h3>
              <p><%= @project2.description %></p>
              <p><a href="#" class="btn btn-primary pull-right" role="button">Details</a></p>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-primary pull-right" role="button">View All Works</a>
      </div>
    </div>
  </div>
</div>

