<div class="row">
  <div class="col-md-12 myTabs">
    <ul class="nav nav-tabs nav-tabs-justified">
      <% @projects.each do |project| %>
        <li>
          <a data-toggle="tab" href="#<%=project.id%>"><%= project.name%></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <%= @projects.each do |p| %>
          <div class="tab-pane fade in panel panel-default" id="<%= p.id %>">
            <div class="row">
              <div class="panel-body">
                <div class="col-md-7 col-sm-12">
                  <h3><%= p.name %></h3>
                  <div class="row">
                    <h5><%= p.description %></h5>
                    <h5>Start Date: <%= p.start_date %></h5>
                    <h5>End Date: <%= p.finish_date %></h5>
                    <h5>Technologies Used:</h5>
                      <%= p.teches.name %>
                  </div>
                </div>
                <div class="col-md-5 col-sm-12">
                  Images go here.
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>